APP_NAME=CHIEF
APP_ENVIRONMENT=development
LOG_LEVEL=INFO
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=chief
POSTGRES_PASSWORD=chief
POSTGRES_DB=chief
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
ENABLE_CONNECTIVITY_CHECKS=true
